body {
    margin: 0;
    display: flex;
    flex-direction: column; /* Imposta la direzione del layout principale in verticale */
    min-height: 100vh; /* Altezza minima del viewport */
}

.title {
    flex: 0 0 auto; /* Il titolo non si ridimensiona e ha l'altezza del suo contenuto */
    margin: 10px 0; /* Aggiunge un margine superiore e inferiore */
    align-self: center; /* Centra il titolo se la larghezza è inferiore a max-width */
}

.container {
    flex: 1; /* Il container cresce per occupare lo spazio rimanente */
    width: 100%; /* Usa l'intera larghezza disponibile */
    max-width: 1000px; /* Imposta una larghezza massima */
    overflow: hidden; /* Nasconde l'overflow */
    margin: auto; /* Centra il container se la larghezza è inferiore a max-width */
}

.row {
    display: flex;
    flex-wrap: wrap; /* Permette alle righe di andare a capo */
}

.square {
    flex: 1; /* Divide lo spazio orizzontale in modo uniforme tra i quadrati */
    aspect-ratio: 1; /* Mantiene i quadrati con un rapporto d'aspetto quadrato */
    background-color: #b716df;
    border: 1px solid #000;
    box-sizing: border-box;
    min-width: 50px; /* Imposta una larghezza minima per i quadrati per evitare che diventino troppo piccoli */
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 100%; /* Il container può espandersi fino al 100% della larghezza del viewport */
    }
    /* Non è necessario aggiungere regole specifiche per .square qui, a meno che non si voglia personalizzarli ulteriormente */
}